<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="navbar.css" />
    <script src="navbar.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-wrapper">
        <div class="menu">
          <div class="line"></div>
          <div class="line hide"></div>
          <div class="line"></div>
        </div>

        <div class="logo">
          <a href="index.html">M-PIC</a>
        </div>

        <ul class="link-list">
          <li class="link-item active">
            <a href="pages/home.html">Home</a>
          </li>
          <li class="link-item">
            <a href="pages/about.html">About</a>
          </li>
          <li class="link-item">
            <a href="pages/gallery.html">Gallery</a>
          </li>
          <li class="link-item">
            <a href="pages/editor.html">Editor</a>
          </li>
        </ul>

        <div class="auth">
          <a href="pages/login.html">
            <img
              class="user-icon"
              src="../../resources/user.png"
              alt="user.jpg"
            />
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>
