.editor {
  width: 100%;
}
.editor-wrapper {
  margin: 0 auto;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.editor-main {
  display: flex;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(19, 19, 19, 0.9);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-to-edit-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.image-actions {
  margin-top: 0.75rem;
  background-color: rgb(235, 232, 232);
  padding: 0.5rem;
  /* width: fit-content; */
  display: flex;
  justify-content: space-between;
}

.image-actions .save {
  background-color: var(--yellow);
  color: var(--black);
  margin-right: 0.75rem;
}
.image-actions .delete {
  background-color: rgb(248, 80, 80);
  color: var(--black);
}
.image-actions .share {
  background-color: rgb(152, 56, 243);
  color: var(--black);
  margin-right: 0.75rem;
}

.image-to-edit {
  height: 30rem;
  padding: 1rem;
  background-color: rgb(235, 232, 232);
  cursor: pointer;
  position: relative;
}
.image-to-edit img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-to-edit img:hover {
  filter: brightness(95%);
}

.editor-container {
  width: 30%;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}
.editor-menu {
  background-color: rgb(235, 232, 232);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
  position: sticky;
  top: 0;
  background-color: rgb(235, 232, 232);
  width: 100%;
  padding: 1rem;
}

.editor-select {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  width: 100%;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.filters {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.filters-container {
  overflow-y: auto;
  height: 30rem;
  box-sizing: border-box;
  background-color: rgb(235, 232, 232);
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.filter label {
  min-width: 4.5rem;
}
.filter span {
  min-width: 2.5rem;
}
.filter label,
.filter input {
  margin-right: 0.5rem;
}

.filter input {
  height: 0.75rem;
  border-radius: 10px;
  width: 100%;
}

.filter input {
  -webkit-appearance: none;
  height: 0.75rem;
  border-radius: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(var(--yellow), var(--yellow));
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.filter input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: rgba(255, 255, 255);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all 0.2s ease-in-out;
}

.filter input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.discard-filters-container {
  margin-top: 0.75rem;
  background-color: rgb(235, 232, 232);
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  filter: brightness(90%);
}

.discard {
  background-color: var(--yellow);
  color: var(--black);
}

.editor-actions {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 1rem;
}
.editor-actions > p {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.editor-action-choose {
  text-transform: uppercase;
  padding: 0;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.35);
  background-color: var(--yellow);
  cursor: pointer;
}

.editor-action {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--yellow);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  box-sizing: border-box;
}
.editor-action-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.editor-action:hover {
  transform: scale(110%);
  background-color: var(--black);
  color: var(--yellow);
}

@media only screen and (max-width: 1024px) {
  .image-to-edit-container {
    width: 65%;
  }
  .editor-container {
    width: 35%;
  }
}
@media only screen and (max-width: 875px) {
  .image-to-edit-container {
    width: 60%;
  }
  .editor-container {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .editor-wrapper {
    padding: 1rem;
  }
  .editor-main {
    flex-direction: column;
    /* max-width: 90rem; */
  }
  .image-to-edit-container,
  .editor-container {
    width: 100%;
  }
  .editor-container {
    margin: 0;
    margin-top: 0.75rem;
  }
  .image-to-edit {
    height: 15rem;
  }
  .editor-actions {
    margin-bottom: 1rem;
  }
  .editor-action {
    width: 6rem;
    height: 6rem;
  }
  .filters-container {
    height: 20rem;
  }
}

/*  */

.image-placeholder-container {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-placeholder-container:hover {
  filter: brightness(95%);
}

.image-placeholder-container .image-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* collage editor */
.collages-container {
  padding: 1rem;
  padding-top: 0;
}
.collages-container p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.template-grid {
  display: flex;
  flex-wrap: wrap;
}
.template-grid div {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  border: 2px solid var(--black);
}

.template-grid div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.template-grid div:hover {
  filter: brightness(80%);
}

.template-grid div.active {
  border: 0.5rem solid var(--black);
}

/* collage images */
.template {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  /* box-sizing: border-box; */
}
.template1 .template-row {
  width: 100%;
  height: 50%;
  display: flex;
}

.template2 .template-row {
  width: 100%;
  height: 100%;
  display: flex;
}

.template-image {
  width: 50%;
  height: 100%;
  padding: 0.1rem;
  /* box-sizing: border-box; */
}
.template-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* gallery selector */

.gallery-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.9);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-grid {
  max-width: 60rem;
  padding: 1rem;
  margin: 2rem;
  max-height: 80%;
  overflow-y: auto;
  background-color: whitesmoke;

  display: grid;
  grid-template-columns: 18rem 18rem 18rem;
  grid-template-rows: 18rem;
  gap: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(18rem, 0));

  justify-content: center;
}

.gallery-item {
  cursor: pointer;
  width: 18rem;
  height: 18rem;
  border: 1px solid var(--black);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  filter: brightness(95%);
}
