<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="hero.js" defer></script>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-wrapper">
        <div class="motto">
          <h1>M-PIC</h1>
          <p>All your pictures together</p>
        </div>
        <div class="pics">
          <div class="pic">
            <img
              src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
              alt="pic.jpg"
            />
          </div>
          <div class="pic">
            <img
              src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
              alt="pic.jpg"
            />
          </div>
          <div class="pic">
            <img
              src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
              alt="pic.jpg"
            />
          </div>
          <div class="pic">
            <img
              src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
              alt="pic.jpg"
            />
          </div>
          <div class="pic">
            <img
              src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
              alt="pic.jpg"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
