<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="gallery-item.css" />
  </head>
  <body>
    <div class="gallery-item">
      <div class="item-content">
        <div class="item-image">
          <img
            src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
            alt="img.jpg"
          />
        </div>
        <ul class="item-comments">
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
          <li class="comment-item">
            <div class="commentator">Name Surname</div>
            <div class="comment-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              possimus consequuntur cupiditate dicta voluptatum ducimus nam
              illum cumque sequi tempore.
            </div>
          </li>
        </ul>
      </div>
      <div class="item-footer">
        <div class="item-actions">
          <button class="btn delete">Delete</button>
          <button class="btn edit">Edit</button>
          <button class="btn share">Share</button>
        </div>
        <div class="item-reactions">
          <div class="reactions-wrapper">
            <div class="likes">
              <img src="../../resources/heart.svg" alt="heart.svg" />
              <p>123</p>
            </div>
            <div class="shares">
              <img src="../../resources/share.svg" alt="share.svg" />
              <p>323</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
