<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <section class="about" id="about">
      <div class="about-wrapper">
        <div class="header">About</div>
        <p class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          necessitatibus quod eveniet sint, animi ex facere dolore eos voluptas,
          sunt quae voluptates qui accusantium vitae corrupti nihil dolorem
          nesciunt accusamus aut sit? Adipisci incidunt quaerat veritatis maxime
          dolor aliquam possimus tenetur, eligendi, temporibus cupiditate animi
          officiis fugiat blanditiis explicabo repellendus!
        </p>
      </div>
    </section>
  </body>
</html>
